body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
   background-color: darkslategray;
}



.lease-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em;
}

.lease-details {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.lease-details h2 {
    margin-bottom: 10px;
}

.lease-details ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.lease-details li {
    margin-bottom: 10px;
}

button {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #3e8e41;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 1em;
    text-align: center;
    clear: both;
}
header {
    background-color: #333;
    color: #fff;
    padding: 1em;
    text-align: center;
}

header nav ul {
    list-style: none;
    margin: 10px;
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
}

header nav ul li {
    margin-right: 10px;
}

header nav a {
    color: #fff;
    text-decoration: none;
}
